body {
    background-color: rgb(49, 47, 47);
}

h1 {
    background-color: white;
}

h1,
h2,
h3 {
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: white;
    font-family: sans-serif;
}

.navlink {
    color: black;
    text-decoration: none;
}

.overview{
    font-family: "Courier New", monospace;
    font-weight: bold;
    color:black;
    background:white;
    padding: 75px;
}