body {
    background-color: rgb(49, 47, 47);
    color: rgb(255, 255, 255)
}

h1,
h2,
h3 {
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: white;
    font-family: sans-serif;
}

h1 {
    background-color: white;
}

.center {
    display: block;
    margin: auto;
}

.left {
    display: block;
    margin-left: 0%;
}

.right {
    display: block;
    margin-left: 50%;
}

.navlink {
    color: black;
    text-decoration: none;
}

.secLink {
    color: white;
    text-decoration: none;
}

.description {
    font-family: "Courier New", monospace;
    font-weight: bold;
    display: flex;
}

.overview{
    font-family: "Courier New", monospace;
    font-weight: bold;
    color:black;
    background:white;
    border-width:30px;
}

.title{
    position: relative;
    left:250px;
    font-size: xx-large;
}